
@{
    ViewData["Title"] = "AccesoDenegado";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1 class="text-danger">tienes que iniciar sesion </h1>
<h2>haz click en el siguiente enlace para iniciar sesion <a asp-action="Login" asp-controller="User">Iniciar sesion</a></h2>
